<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="UserService">
        <endpoint binding="netTcpBinding"
                  address="net.tcp://localhost:2001/UserService"
                  contract="ServiceModel.Cancellation.FileConfiguredSystemTest+IUserContract"/>
      </service>

      <service name="ServiceModel.Cancellation.Service.CancellationContractService">
        <endpoint binding="netTcpBinding"
                  address="net.tcp://localhost:2001/CancellationService"
                  contract="ServiceModel.Cancellation.ICancellationContract"/>
      </service>
    </services>

    <client>
      <endpoint name="UserClient"
                address="net.tcp://localhost:2001/UserService"
                binding="netTcpBinding"
                contract="ServiceModel.Cancellation.FileConfiguredSystemTest+IUserContract"/>

      <endpoint name="ContractClient"
                address="net.tcp://localhost:2001/CancellationService"
                binding="netTcpBinding"
                contract="ServiceModel.Cancellation.ICancellationContract"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior>
          <useCancellation />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="useCancellation"
             type="ServiceModel.Cancellation.CancellationBehaviorElement, ServiceModel.Cancellation"/>
      </behaviorExtensions>
    </extensions>

    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple"
                          publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0"
                         newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions"
                          publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0"
                         newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>