<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDemoService" />
      </basicHttpBinding>
    </bindings>

    <client>
      <!-- !!! ServiceModel.Cancellation demo: define behavior with cancellation support -->
      <endpoint name="BasicHttpBinding_IDemoService"
                address="http://localhost:51599/DemoService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDemoService"
                behaviorConfiguration="CancellationBehaviorWithDefaultOptions"
                contract="Generated.IDemoService" />

      <!-- !!! ServiceModel.Cancellation demo: register channel to pass cancellation requests -->
      <endpoint address="http://localhost:51599/CancellationContractService.svc"
                binding="basicHttpBinding"
                contract="ServiceModel.Cancellation.ICancellationContract" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <!-- !!! ServiceModel.Cancellation demo: define behavior with cancellation support -->
        <behavior name="CancellationBehaviorWithDefaultOptions">
          <useCancellation />
        </behavior>

        <!-- !!! ServiceModel.Cancellation demo: define behavior with cancellation support and custom client factory -->
        <behavior name="CancellationBehaviorWithCustomizedOptions">
          <useCancellation>
            <clientOptions contractFactory="Client.CancellationContractClientFactory.CreateClient, Client" />
          </useCancellation>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <!-- !!! ServiceModel.Cancellation demo: register cancellation behavior extension -->
        <add name="useCancellation"
             type="ServiceModel.Cancellation.CancellationBehaviorElement, ServiceModel.Cancellation"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>