<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDemoService" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint name="BasicHttpBinding_IDemoService"
                address="http://localhost:52003/DemoService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDemoService"
                contract="Generated.IDemoService" />

      <!-- !!! ServiceModel.Cancellation demo: register channel to pass cancellation requests -->
      <endpoint address="http://localhost:52003/CancellationContractService.svc"
                binding="basicHttpBinding"
                contract="ServiceModel.Cancellation.ICancellationContract" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>